/* Globals */

/* 
  Fonts
  --------
  font-family: 'Libre Franklin', sans-serif;

*/
:root {
  /* General colors */
  --dark-bg-color: #0b0c10;
  --text-white: #FFFFFF;
  --primary-color: #66fd7d;
  --primary-color-dark: #269A19;
  --surface-bg-color: #121212;
  --error-color: #9C2B2E;
  --error-color-light: #b00020;
  --info-box-color: #404040;
  --surface-elevation1-bg-color: #181818;
  --surface-elevation2-bg-color: #202020;
  --surface-elevation3-bg-color: #282828;

  /* Colors with Opacities */
  --transparent-black: rgba(0, 0, 0, .6);
  --surface-border-color: rgba(128,128,128, .1);
  --shadow-color: rgba(0, 0, 0, .1);
  --image-button-hover-color: rgba(0, 0, 0, .3);

  /* Special colors */
  --hamburger-menu-bg-color: #1e1e1e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: var(--dark-bg-color);
  color: var(--text-white);
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

button {
  background-color: var(--primary-color-dark);
  color: var(--text-white);
  letter-spacing: .1em;
  border-color: var(--primary-color);
  min-height: 2.75em;
  max-height: 2.75em;
  border-radius: .5em;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: .2em .2em .5em .2em var(--shadow-color);
  padding: .5em 1.5em;
}

button:hover,
button:focus,
a:hover,
a:focus {
  opacity: 0.75;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color-dark);
}

h1, h2, h3, h4, h5 {
  letter-spacing: .08em;
  margin: 0 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 2em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-1 {
  margin-top: 1.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-1r {
  margin-bottom: 1rem;
}

.my-1 {
  margin: 1.5em auto;
}

.text-center {
  text-align: center;
}

.margin-center {
  display: block;
  margin: 0 auto;
}

/* Modals */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  z-index: 5;
  overflow: auto;
}

.modal-shader {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  background-color: var(--dark-bg-color);
  z-index: 4;
}

.close-icon {
  align-self: "center";
  margin: .5rem;
}

/* Surfaces */

.surface {
  height: 100%;
  width: 100%;
  border: 2px var(--surface-border-color) solid;
  background-color: var(--surface-bg-color);
}

.surface-container {
  width: 90%;
  margin: 1em auto;
}

@media (min-width: 600px) {
  .surface__auth {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .surface__auth {
    max-width: 40%;
    margin: 0 auto;
  }
}

.elevation-1 {
  background-color: var(--surface-elevation1-bg-color);
}

.elevation-2 {
  background-color: var(--surface-elevation2-bg-color);
}

.shadow {
  box-shadow: 0 0 .5em .2em var(--shadow-color);
}

/* Navbar */

header {
  background-color: var(--surface-bg-color);
  margin-bottom: 1.5em;
}

.hamburger-menu {
  align-self: center;
}

.hamburger-menu:hover,
.hamburger-menu:active {
  opacity: 0.75;
}

.close-icon-row {
  display: flex;
  justify-content: flex-end;
}

.close-icon:hover,
.close-icon:active {
  opacity: 0.75;
}

.mobile-nav {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 3;
  min-height: 100vh;
  width: 70%;
  background-color: var(--hamburger-menu-bg-color);
}

#hamburger-shader {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  background-color: var(--dark-bg-color);
  z-index: 2;
}

nav {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  min-height: 3em;
  max-height: 3em;
}

.nav__logo {
  margin: 0;
}

.nav__left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.mobile-nav__list {
  list-style-type: none;
  display: block;
}

.mobile-nav__list-item {
  padding: .5em 0;
  font-size: 1rem;
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 0;
  margin: 0.5em 0;
}

.nav__list-item {
  text-align: center;
  padding: 0.25em;
  font-size: 0.8rem;
}

.nav__link {
  text-decoration: none;
  color: var(--text-white);
  font-weight: 400;
}

.nav__link:visited {
  color: var(--text-white);
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

.nav__link-button {
  display: inline-block;
  background-color: var(--text-white);
  color: var(--dark-bg-color);
  padding: 0.5em 0.5em;
  border-radius: 1em;
  font-weight: bold;
}

.nav__link-button:visited {
  color: var(--dark-bg-color);
}

/* Form Styling */

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

label {
  padding-bottom: .25em;
}

input {
  background-color: var(--info-box-color);
  border-style: none;
  color: var(--text-white);
  min-height: 3em;
  border-radius: .45em;
  box-shadow: .1em .1em .5em .1em var(--shadow-color);
  padding: 1em;
}

textarea {
  background-color: var(--info-box-color);
  box-shadow: .1em .1em .5em .1em var(--shadow-color);
  border-style: none;
  color: var(--text-white);
  font-family: inherit;
  font-weight: inherit;
  min-height: 5em;
  border-radius: .45em;
  padding: 1em;
  resize: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: 2px var(--primary-color-dark) solid;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__error {
  margin-top: .25em;
  border: 1px var(--error-color-light) solid;
  background-color: var(--error-color);
  font-size: .9rem;
  color: var(--text-white);
  text-align: center;
}

.form__error p {
  margin: 0;
  padding: .5em 0;
}

/* Toast */

.hidden {
  display: none;
}

.toast {
  position: fixed;
  bottom: 5%;
  left: 5%;
  min-width: 12em;
  border-radius: .5em;
  z-index: 10;
}

.toast-container {
  width: 90%;
  margin: 0 auto;
  padding: .25em 0;
}

.toast-error {
  background-color: var(--error-color);
}

.toast-success {
  background-color: var(--primary-color-dark);
}

.toast-info {
  background-color: var(--info-box-color);
}

.toast-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05em;
  margin: 0 0;
  align-self: center;
}

.toast-message {
  margin: 0 0;
  padding-bottom: .5em;
}

@media (min-width: 600px) {
  .toast {
    max-width: 45%;
    bottom: 2%;
    left: 2%;
  }
}

@media (min-width: 1000px) {
  .toast {
    max-width: 40%;
  }
}

/* Profile pictures */

.profile-picture {
  width: 10em;
}

/* Account */

.account-details-row {
  display: flex;
  gap: 3em;
}

/* Games */

.game__details--show-more-button {
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--info-box-color);
  padding: 0 1em;
  min-height: 2.25em;
  font-size: .75rem;
  font-weight: normal;
}

.game-card__image {
  object-fit: cover;
}

/* Tags */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.tag {
  background-color: var(--info-box-color);
  padding: .5em 1em;
  border-radius: .5em;
  font-size: .8rem;
  color: var(--text-white);
  margin: 0 0;
}

/* Image Slider */

.image-slider__container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

.img-slider__inner-wrapper {
  width: 100%;
  height:100%;
  position: relative;
}

.image-slider__img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.image-slider__img {
  all: revert;
  display: block; 
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate .3s ease-in-out;
}

.image-slider__button {
  all: revert;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  transition: background-color .3s ease-in-out;
}

.image-slider__button:hover,
.image-slider__button:focus,
.image-slider__button:focus-visible,
.image-slider__button:active {
  background-color: var(--image-button-hover-color);
  outline: none;
  border: none;
}

.image-slider__button:not(:hover) {
  background-color: unset;
  border: none;
  transition: background-color .3s ease-in-out;
}

.image-slider__button:focus-visible {
  background-color: var(--image-button-hover-color);
}

.image-slider__button--left {
  left: 0;
}

.image-slider__button--right {
  right: 0;
}

.image-slider__button-icon {
  stroke: black;
  stroke-width: .25;
  width: 3rem;
  fill: var(--primary-color);
}

.image-slider__lower-button-wrapper {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.image-slider__lower-button {
  all: unset;
  text-align: center;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: scale .3s ease-in-out;
}

.image-slider__lower-button:hover,
.image-slider__lower-button:focus {
  scale: 1.4;
  outline: none;
}

.image-slider__button:not(:hover) {
  scale: 1;
}

.image-slider__lower-button-icon {
  color: var(--primary-color);
  margin: 0;
}
