/* Globals */

/* 
  Fonts
  --------
  font-family: 'Libre Franklin', sans-serif;

*/

:root {
  /* General colors */
  --dark-bg-color: #0b0c10;
  --text-white: #FFFFFF;
  --primary-color: #66fd7d;
  --primary-color-dark: #269A19;
  --surface-bg-color: #121212;
  --error-color: #9C2B2E;
  --info-box-color: #404040;

  /* Colors with Opacities */
  --surface-border-color: rgba(128,128,128, .1);
  --surface-elevation1-bg-color: rgba(255, 255, 255, .05);
  --surface-elevation2-bg-color: rgba(255, 255, 255, .11);
  --shadow-color: rgba(0, 0, 0, .2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: var(--dark-bg-color);
  color: var(--text-white);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button {
  background-color: var(--primary-color-dark);
  color: var(--text-white);
  letter-spacing: .1em;
  border-color: var(--primary-color);
}

button:hover,
button:focus,
a:hover,
a:focus {
  opacity: 0.75;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color-dark);
}

h1, h2, h3, h4, h5 {
  letter-spacing: .08em;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.mt-1 {
  margin-top: 1.5em;
}

/* Surfaces */

.surface {
  height: 100%;
  width: 100%;
  border-radius: .5em;
  border: 2px var(--surface-border-color) solid;
}

.surface-container {
  width: 90%;
  margin: 1em auto;
  padding: .5em 0;
}

@media (min-width: 600px) {
  .surface__auth {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .surface__auth {
    max-width: 40%;
    margin: 0 auto;
  }
}

.elevation-1 {
  background-color: var(--surface-elevation1-bg-color);
}

.elevation-2 {
  background-color: var(--surface-elevation2-bg-color);
}

.shadow {
  box-shadow: 0 0 .5em .2em var(--shadow-color);
}

/* Navbar */

header {
  background-color: var(--surface-bg-color);
  margin-bottom: 1.5em;
}

.hamburger-menu {
  align-self: center;
}

.hamburger-menu:hover,
.hamburger-menu:active {
  opacity: 0.75;
}

.close-icon-row {
  display: flex;
  justify-content: flex-end;
}

.close-icon:hover,
.close-icon:active {
  opacity: 0.75;
}

.mobile-nav {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 3;
  min-height: 100vh;
  width: 70%;
  background-color: var(--info-box-color);
}

#hamburger-shader {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  background-color: var(--dark-bg-color);
  z-index: 2;
}

nav {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  min-height: 3em;
  max-height: 3em;
}

.nav__logo {
  margin: 0;
}

.nav__left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.mobile-nav__list {
  list-style-type: none;
  display: block;
}

.mobile-nav__list-item {
  padding: .5em 0;
  font-size: 1rem;
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 0;
  margin: 0.5em 0;
}

.nav__list-item {
  text-align: center;
  padding: 0.25em;
  font-size: 0.8rem;
}

.nav__link {
  text-decoration: none;
  color: var(--text-white);
  font-weight: 400;
}

.nav__link:visited {
  color: var(--text-white);
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

.nav__link-button {
  display: inline-block;
  background-color: var(--text-white);
  color: var(--dark-bg-color);
  padding: 0.5em 0.5em;
  border-radius: 1em;
  font-weight: bold;
}

.nav__link-button:visited {
  color: var(--dark-bg-color);
}

/* Form Styling */

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

label {
  padding-bottom: .25em;
}

input {
  min-height: 3em;
  border-radius: .45em;
  padding: 1em;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__button {
  min-height: 3.5em;
  border-radius: .5em;
  text-transform: uppercase;
  font-weight: bold;
}

/* Toast */

.hidden {
  display: none;
}

.toast {
  position: absolute;
  bottom: 5%;
  left: 5%;
  min-width: 12em;
  border-radius: .5em;
  z-index: 10;
}

.toast-container {
  width: 90%;
  margin: 0 auto;
  padding: .25em 0;
}

.toast-error {
  background-color: var(--error-color);
}

.toast-success {
  background-color: var(--primary-color-dark);
}

.toast-info {
  background-color: var(--info-box-color);
}

.toast-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05em;
  margin: 0 0;
  align-self: center;
}

.toast-message {
  margin: 0 0;
  padding: .25em 0;
}

.toast__hr {
  margin: 0 0;
}

.toast__button {
  border: none;
  height: 2em;
  align-self: center;
  margin: 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  max-height: 1.75em;
}

.toast__button-error {
  background-color: var(--error-color);
}

.toast__button-success {
  background-color: var(--primary-color-dark);
}

.toast__button-info {
  background-color: var(--info-box-color);
}

@media (min-width: 600px) {
  .toast {
    max-width: 45%;
    bottom: 2%;
    left: 2%;
  }
}

@media (min-width: 1000px) {
  .toast {
    max-width: 40%;
  }
}

/* Profile pictures */

.profile-picture {
  width: 10em;
}